@model ServiceTrackingAutomation.Domain.Models.CreateServiceActionModel

@{
    ViewData["Title"] = "Create";
}


<h2>Servis Hareketi Ekle/Düzenle</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="ComplaintId" class="control-label"></label>
                <input asp-for="ComplaintId" readonly class="form-control" />
                <span asp-validation-for="ComplaintId" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="ServiceId" class="control-label"></label>
                <select class="form-control" asp-for="ServiceId">
                    <option selected disabled>Servis Seçiniz</option>
                    @foreach (var item in Model.Services)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
                <span asp-validation-for="ServiceId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="10"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="SentToServiceDate" class="control-label"></label>
                <input asp-for="SentToServiceDate" class="form-control" />
                <span asp-validation-for="SentToServiceDate" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="ReceivedFromServiceDate" class="control-label"></label>
                <input asp-for="ReceivedFromServiceDate" class="form-control" />
                <span asp-validation-for="ReceivedFromServiceDate" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Oluştur" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br/>

<div>
    <a asp-action="List">List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
