@model ServiceTrackingAutomation.Domain.DTOs.ComplaintDto

@{
    ViewData["Title"] = "Create";
}


<h2>Şikayet Oluştur</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <input asp-for="CustomerId" class="form-control" />
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="ReceivedFromCustomerDate" class="control-label"></label>
                <input asp-for="ReceivedFromCustomerDate" class="form-control" />
                <span asp-validation-for="ReceivedFromCustomerDate" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="SentToCustomerDate" class="control-label"></label>
                <input asp-for="SentToCustomerDate" class="form-control" />
                <span asp-validation-for="SentToCustomerDate" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="CustomerReceivedDate" class="control-label"></label>
                <input asp-for="CustomerReceivedDate" class="form-control" />
                <span asp-validation-for="CustomerReceivedDate" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="CargoTrackingNumberFromCustomer" class="control-label"></label>
                <input asp-for="CargoTrackingNumberFromCustomer" class="form-control" />
                <span asp-validation-for="CargoTrackingNumberFromCustomer" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="CargoTrackingNumberToCustomer" class="control-label"></label>
                <input asp-for="CargoTrackingNumberToCustomer" class="form-control" />
                <span asp-validation-for="CargoTrackingNumberToCustomer" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Ekle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<br />
<div>
    <a asp-action="List">Listeye Dön</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
